.heading {
  text-align: center;
  font-family: sans-serif;
}
.container {
  background-color: black;
  margin: auto;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 14rem;
  padding-top: 0.1rem;
  border-radius: 4px;
}
.row {
  margin: 1px 0;
}
.btn {
  padding: 14px;
  margin: 0 2px;
  width: 45px;
  border: 2px solid black;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: bolder;
  font-family: "Courier New", Courier, monospace;
}
.clear {
  color: #ffa806;
  font-size: 1rem;
  font-weight: bolder;
}
.input-field {
  margin: 0;
  padding: 6px;
  border: 2px solid black;
  border-radius: 4px;
  font-size: 15px;
  width: 11.8rem;
}
